@import '_config.scss';

@mixin wrapper($max-width: $max-width) {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  padding: 0 $spacer;
}

@function rem($pixels) {
  @return #{$pixels / $font-size-root}rem;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin from-small {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin from-medium {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin from-large {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}
